*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    background-color: #F9FAFB;
}

header{
    height: 12vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.nav-logo{
    padding: 0 0 0 20px;
    color: #111827;
}

.nav{
    width: 500px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Normal;
    color: #3B82F6;
    transition: color 0.3s ease;
}

a:hover{
    color: #1F2937;
}

.basic-details{
    display: flex;
    height: 65vh;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 200px;
}

.left{
    width: 400px;
}

.name{
    display: flex;
    margin-bottom: 20px;
}

.name-2{
    margin-left: 10px;
    color: #3B82F6;
}

.passion{
    color: #6B7280;
    margin-bottom: 20px;
}

.summary{
    color: #6B7280;
    margin-bottom: 40px;
}

.btns{
    display: flex;
    justify-content: space-between;
}

.get-btn{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    background-color: #3B82F6;
    color: #FFFFFF;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.resume-btn{
    width: 150px;
    height: 50px;
    margin-right: 45px;
    border: 2px solid #3B82F6;
    border-radius: 8px;
    background-color: #F9FAFB;
    font-weight: 600;
    transition: background-color 0.3s ease ,transform 0.3s ease;
}

.get-btn:hover{
    background-color: #2563EB;
    cursor: pointer;
    transform: translateY(-2px);
}

.resume-btn:hover{
    background-color: #3B82F6;
    cursor: pointer;
    transform: translateY(-2px);
    color: #FFFFFF;
}

.about-me{
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
}

.about-heading{
    border-bottom: 3px solid #3B82F6;
    margin-bottom: 60px;
    color: #111827;
}

.about-summary{
    margin: 0 200px 0 200px;
    color: #111827;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.project-name{
    color: #111827;
    padding-bottom: 5px;
    border-bottom: 3px solid #3B82F6;
    margin-bottom: 40px;
}

.project-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.project-card{
    width: 400px;
    height: 450px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.05);
    border-radius: 10px;
    border: 1px solid rgb(229, 231, 235);
    padding: 0 10px 0 20px;
    transition: transform 0.3s ease;
}

.project-skill{
    display: flex;
    margin: 10px 0;
}

.project-skill-box{
    background-color: #3B82F6;
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
    color: #FFFFFF;
}

.project-heading{
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 10px;
}

.project-summary{
    color: #6B7280;
    margin-top: 20px;

}

.project-list{
    list-style-type: none;
    color: #6B7280;
}

.project-card button{
    margin-top: 10px;
    margin-bottom: 20px;
}

.project-card:hover{
    transform: scale(1.05)
}

.skills{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-heading{
    color: #111827;
    border-bottom: 3px solid #3B82F6;
}

.skills-container{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-top: 40px;
}

.skills-card{
    height: 300px;
    width: 300px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
    border: 1px solid rgb(229, 231, 235);
}

.skills-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    height: 200px;
    margin-top: 10px;
}

.skills-name{
    text-align: center;
    color: #111827;
    font-weight: 400;
    margin-top: 20px;
    padding-bottom: 10px;
}

.skills-list li i{
    margin: 0 20px;
    color: #3B82F6;
}

.skills-list li{
    color: #6B7280;
}

.skills-card:hover{
    transform: scale(1.05);
}

.contact{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-heading{
    color: #111827;
    padding-bottom: 5px;
    border-bottom: 3px solid #3B82F6;
    margin-bottom: 60px;
}

#name,#email{
    width: 600px;
    height: 40px;
    padding-left: 10px;
    font-size: large;
    border-radius: 5px;
    border: 1px solid lightgray;

}

#message{
    width: 600px;
    height: 100px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: large;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.form{
    width: auto;
    height: 340px;
    background-color: #FFFFFF;
    padding: 30px 60px 60px 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.05);
}

.form-name{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    color: #6B7280;
}

#name:focus,#email:focus,#message:focus{
    border: 1px solid #3B82F6;
}

.form button{
    margin-top: 20px;
    margin-bottom: none;
}

.social{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.email,.github,.linkedin{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 140px;
}

.email i,.github i,.linkedin i{
    color: #3B82F6;
}

footer{
    background-color: #FFFFFF;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: #6B7280;
}